/* section_comercial Styles */

.section-comercial{
    font-family: 'Roboto Slab', serif;    
}
/* title */
.row-title{
    margin: 70px 0;
    text-align: center;
    
}
/* card */
.card {
 margin-bottom: 20px;
 padding: 5px;
 box-shadow: 2px 2px 5px 1px grey;
}
.card-body{
    text-align: center;  
}
/* card effect */
.card:hover{
    transform: scale(105%);
    transition: 0.2s;
}
/* buttons  */
.card-body > a {
    display: block;
    font-size: x-large;
    background: rgb(77, 0, 77);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
/* paragraph  */
.card-text{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}