<section class="section-comercial">     
    <div class="container section">
        <div id="container section-title">
            <div class="row row-title">                
                <h1>Comenzar tu votacion</h1>
            </div>
        </div>
        <div class="container section-cards">
            <div class="row">              
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/section-comercial/card01.jpeg" class="card-img-top" alt="assets/card3.jpeg">
                        <div class="card-body">
                            <h4 class="card-title">Votación Gratuita</h4>
                            <p class="card-text">Inicia de forma rapida y gratuita, podrás realizar una votación de hasta 10 votantes.</p>
                            <a href="#" class="btn">COMENZAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/section-comercial/card02.jpeg" class="card-img-top" alt=".assets/">
                        <div class="card-body">
                            <h4 class="card-title">Votación Estandar</h4>
                            <p class="card-text">Amplia tu votacion , podrá realizar una votación de hasta 50 votantes.</p>
                            <a href="#" class="btn">COMPRAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/section-comercial/card03.jpeg" class="card-img-top" alt=".assets/">
                        <div class="card-body">
                            <h4 class="card-title">Votación Premium</h4>
                            <p class="card-text">Invita a todos, sin ningun limite, podrás realizar una votación sin limites de participantes.</p>
                            <a href="#" class="btn">COMPRAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>       
