<main>
  <div class="container" style="text-align: center;">
       <a href="index.html"><img src="../../../assets/logotipo_Mesa_de_trabajo1.png" alt="logo_inicio"/></a>
  </div>
  <section id="register" class="">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 com-md-4 mx-auto text-center pt-5">
            <h1 class="h3 mb-3 font-weight-normal color-title">Sign up</h1>
          </div>
      </div>
  <!-- INICIO FORMULARIO -->
  <form action="envio_registro.php" class="formulario" id="formulario" method="post" class="needs-validation" novalidate>

      <!-- Grupo: Nombre -->
      <div class="formulario__grupo" id="grupo__nombre">
        <label for="nombre" class="formulario__label">Name</label>
          <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Name">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
         </div>
      <p class="formulario__input-error">El nombre debe tener de 2 a 16 dígitos y solo puede contener numeros y letras.</p>
      </div>

      <!-- Grupo: Apellido -->
      <div class="formulario__grupo" id="grupo__apellido">
          <label for="apellido" class="formulario__label">Surname</label>
          <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="Surname">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El apellido debe tener de 4 a 16 dígitos y solo puede contener numeros y letras.</p>
      </div>

      <!-- Grupo: Contraseña -->
      <div class="formulario__grupo" id="grupo__password">
          <label for="password" class="formulario__label">Password</label>
          <div class="formulario__grupo-input">
              <input type="password" class="formulario__input" name="password" id="password">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
      </div>

      <!-- Grupo: Contraseña 2 -->
      <div class="formulario__grupo" id="grupo__password2">
          <label for="password2" class="formulario__label">Confirm Password</label>
          <div class="formulario__grupo-input">
              <input type="password" class="formulario__input" name="password2" id="password2">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
      </div>

      <!-- Grupo: Correo Electronico -->
      <div class="formulario__grupo" id="grupo__correo">
          <label for="correo" class="formulario__label">Email</label>
          <div class="formulario__grupo-input">
              <input type="email" class="formulario__input" name="correo" id="correo" placeholder="email@email.com">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El correo solo puede tener letras, numeros, puntos, guiones y guion bajo.</p>
      </div>

      <!-- Grupo: Teléfono -->
      <div class="formulario__grupo" id="grupo__telefono">
          <label for="telefono" class="formulario__label">Phone</label>
          <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="Phone number">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El telefono solo puede tener numeros y el maximo son 14 dígitos.</p>
      </div>

      <!-- Grupo: DNI -->
      <div class="formulario__grupo" id="grupo__dni">
          <label for="dni" class="formulario__label">DNI/ID</label>
          <div class="formulario__grupo-input">
          <input type="text" class="formulario__input" name="dni" id="dni" placeholder="DNI/ID number">
          <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div>
          <p class="formulario__input-error">El DNI solo puede tener entre 7 y 8 dígitos.</p>
          </div>
          <!-- Grupo: Pais -->
          <div class="formulario__grupo" id="grupo__pais">
              <label for="pais" class="formulario__label">Country</label>
              <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="pais" id="pais" placeholder="Country name">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">El país solo puede tener letras y el maximo son 14 dígitos.</p>
          </div>
          <!-- Grupo: Provincia -->
          <div class="formulario__grupo" id="grupo__provincia">
              <label for="provincia" class="formulario__label">Province</label>
              <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="provincia" id="provincia" placeholder="Province name">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">La provincia solo puede tener letras y el maximo son 14 dígitos.</p>
          </div>
          <!-- Grupo: Ciudad -->
          <div class="formulario__grupo" id="grupo__ciudad">
              <label for="ciudad" class="formulario__label">City</label>
              <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="ciudad" id="ciudad" placeholder="City name">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">La ciudad solo puede tener letras y el maximo son 14 dígitos.</p>
          </div>

          <!-- Grupo: Nacimiento -->
          <div class="form-group">
              <label class="formulario__label"> Date of birth </label>
              <input onclick="existeFecha()"
                type="date"
                id="fecha_nacimiento"
                name="fecha_nacimiento"
                class="form-control"
                placeholder="Date of birth: dd/mm/yyyy"

              />
              <p id="aviso"></p>
            </div>
          <br>

      <div class="formulario__mensaje" id="formulario__mensaje">
          <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
      </div>

      <div class="formulario__grupo formulario__grupo-btn-enviar">
          <button type="submit" class="btn" id ="btn-enviar">Send</button>
          <p class="formulario__mensaje-exito pb-5" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
      </div>
  </form>
  <!-- FIN FORMULARIO -->
 </div>
</section>
</main>
