.navbar {
  background-color: #fefefe;
}

.nav-item a {
  color: black !important;
  transition: all 0.4s linear;
}
.nav-item a:hover {
  color: orangered !important;
}

.head {
  background: white;
}

.letra {
  color: black !important;
}
/*FIN HEADER*/

.button {
  background-color: rgb(133, 13, 133) !important;
  color: white !important;
  margin-top: 40px;
}

.button:hover {
  background-color: rgb(27, 7, 99) !important;
  color: white !important;
}

.marg {
  width: 50% !important;
}
.titulo-final {
  text-align: center;
  font-size: 15px;
  margin: 20px 0 0 0;
  color: black;
}
