body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: linear-gradient(
    180deg,
    #ffff93 0,
    #f4ff9a 7.14%,
    #dcffa2 14.29%,
    #c3ffaa 21.43%,
    #a8ffb1 28.57%,
    #8dffb7 35.71%,
    #70ffbb 42.86%,
    #53f2bc 50%,
    #33e3bc 57.14%,
    #00d5bc 64.29%,
    #00cabd 71.43%,
    #00c0be 78.57%,
    #00b8c0 85.71%,
    #00b2c3 92.86%,
    #00aec7 100%
  );
  background-size: cover;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}

header {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 10%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.breadcrumb-item {
  margin-left: 10px;
}

.form-group{
    margin-bottom: 40px;
}

.button{
    background-color: rgb(133, 13, 133) !important;
    color: white !important;
    margin-top: 40px;
}

.button:hover{
    background-color: rgb(27, 7, 99) !important;
    color: white !important;
} 

.marg{
    width: 50% !important;
}
.titulo-final {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: black;
  }

  #sin-cuenta{
      margin-top: 40px;
  }