#register{
    font-family: 'Roboto Slab', serif !important;
    
  }
 
  .navbar{
    background-color: #fefefe;
  }
  
  .nav-item a{
    color: black !important;
    transition: all 0.4s linear;
    }
    .nav-item a:hover{
      color: orangered !important; 
      }
  
  .head{
    background: white;
  }
  
  .letra{
    color: black !important;
  }
  /*FIN HEADER*/
  h1 {
    font-family: 'Roboto Slab', serif;
  }
  
  .button{
      background-color: rgb(133, 13, 133) !important;
      color: white !important;
      margin-top: 40px;
  }
  
  .button:hover{
      background-color: rgb(27, 7, 99) !important;
      color: white !important;
  } 
  
  .marg{
      width: 50% !important;
  }
  .titulo-final {
      text-align: center;
      font-size: 15px;
      margin: 20px 0 0 0;
      color: black;
    }
  
    #sin-cuenta{
        margin-top: 40px;
    }
    .divisor{
      border-top: 8px solid rgb(255, 255, 255);
      width: 100%;
      background-color: darkgray;
      margin: 0;
      top: -10px;
    }
    
  
  .formulario {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
  }
  
  .formulario__label {
      display: block;
      font-weight: 700;
      padding: 10px;
      cursor: pointer;
  }
  
  .formulario__grupo-input {
      position: relative;
  }
  
  .formulario__input {
      width: 100%;
      background: #fff;
      border: 3px solid transparent;
      border-radius: 3px;
      height: 45px;
      line-height: 45px;
      padding: 0 40px 0 10px;
      transition: .3s ease all;
  }
  
  .formulario__input:focus {
      border: 3px solid #0075FF;
      outline: none;
      box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }
  
  .formulario__input-error {
      font-size: 12px;
      margin-bottom: 0;
      display: none;
  }
  
  .formulario__input-error-activo {
      display: block;
  }
  
  .formulario__validacion-estado {
      position: absolute;
      right: 10px;
      bottom: 15px;
      z-index: 100;
      font-size: 16px;
      opacity: 0;
  }
  
  .formulario__checkbox {
      margin-right: 10px;
  }
  
  .formulario__grupo-terminos, 
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
      grid-column: span 2;
  }
  
  .formulario__mensaje {
      height: 45px;
      line-height: 45px;
      background: #F66060;
      padding: 0 15px;
      border-radius: 3px;
      display: none;
  }
  
  .formulario__mensaje-activo {
      display: block;
  }
  
  .formulario__mensaje p {
      margin: 0;
  }
  
  .formulario__grupo-btn-enviar {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .formulario__btn {
      height: 45px;
      line-height: 45px;
      width: 30%;
      background: #000;
      color: #fff;
      font-weight: bold;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: .1s ease all;
  }
  
  .formulario__btn:hover {
      box-shadow: 3px 0px 30px rgba(163,163,163, 1);
  }
  
  .formulario__mensaje-exito {
      font-size: 14px;
      color: #119200;
      display: none;
  }
  
  .formulario__mensaje-exito-activo {
      display: block;
  }
  
  /* ----- -----  Estilos para Validacion ----- ----- */
  .formulario__grupo-correcto .formulario__validacion-estado {
      color: #1ed12d;
      opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__label {
      color: #bb2929;
  }
  
  .formulario__grupo-incorrecto .formulario__validacion-estado {
      color: #bb2929;
      opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__input {
      border: 3px solid #bb2929;
  }
  
  
  /* ----- -----  Mediaqueries ----- ----- */
  @media screen and (max-width: 800px) {
      .formulario {
          grid-template-columns: 1fr;
      }
  
      .formulario__grupo-terminos, 
      .formulario__mensaje,
      .formulario__grupo-btn-enviar {
          grid-column: 1;
      }
  
      .formulario__btn {
          width: 100%;
      }
  }

  #btn-enviar{
        display: block;
        font-size: x-large;
        background: rgb(77, 0, 77);
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        padding: 20px 100px;
        margin: 50px;
        border-radius: 15px;
  }


.form-group{ 
    margin: 5%;
}
.form-control.login-user{
    border: 0px solid #fff !important;

}
.error{
    color: red;
    margin: 10px;
    
}

.color-title{
    color: black;
}

.btn-registrar{
    background-color: #4174f4;
    border-color: #4174f4;
    border-radius: 4em;
}
.btn-registrar:hover{
    background-color: #041c8a;
    border-radius: 4em;
}

.btn-pass{
    color: #041c8a;
    outline-style: none;
}

.btn-pass:hover{
    color: #4174f4;
    outline-style: none;
}
#formulario{
    background: white !important;
    bottom: 10%;
}
#cont{
    background: white !important;
}
.campo{
    background: white !important;
}