<main>
    <section id="section-register" class="mb-5">
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 com-md-4 mx-auto text-center pt-5">
                    <h1 class="h3 mb-3 font-weight-normal color-title">Iniciar Sesión</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 com-md-4 mx-auto">
                    <div class="card_register">
                        <div class="card">
                            <div class="card-body text-center">
                                <form class="col-4 mx-auto mt-5" action="" (submit)="logIn()">
                                    <input 
                                        type="text" 
                                        placeholder="Username" 
                                        name="username" 
                                        id="username" 
                                        style="border: 1px solid #fffa;" 
                                        class="my-3 bg-transparent rounded p-2 col-12 d-block text-light" 
                                        [(ngModel)]="username"
                                    />
                                    <input 
                                        type="password" 
                                        placeholder="Password" 
                                        name="password" 
                                        id="password" 
                                        style="border: 1px solid #fffa;" 
                                        class="my-3 bg-transparent rounded p-2 col-12 d-block text-light" 
                                        [(ngModel)]="password"
                                    />
                                    <input 
                                        type="submit"
                                        value="Log in" 
                                        style="border: 1px solid #fffa;" 
                                        class="mt-5 rounded col-2 d-block btn btn-primary" 
                                    />
                                    <h4 
                                        *ngIf="error"
                                        style="text-align: center;" 
                                        class="alert-danger p-2 m-5 rounded"
                                    >{{error}}</h4>
                                </form>
                              <!--
                                <form [formGroup]="form" (ngSubmit)="onEnviar($event, usuario)" novalidate >
                                    <div class="form-group">
                                      <label for="email">Email:</label>
                                      <input type="email" class="form-control" formControlName="mail" [(ngModel)]="usuario.email" placeholder="Enter email" id="email" >
                                      <span *ngIf="this.form.get('mail')?.errors?.['required'] && this.mail?.touched" class="text text-danger"> 
                                        El mail no puede quedar vacío
                                      </span>
                                      <span *ngIf="this.form.get('mail')?.errors?.['email']" class="text text-danger" >
                                        El mail no es válido
                                      </span>
                                    </div>
                                    <div class="form-group">
                                      <label for="pwd">Contraseña:</label>
                                      <input type="password" class="form-control" formControlName="password" [(ngModel)]="usuario.password" placeholder="Enter password" id="pwd" [class.border-danger]="passInvalid" >
                                      <span *ngIf="pass?.errors?.['required'] && pass?.touched" class="text text-danger"> 
                                        La contraseña es requerida
                                      </span>
                                      <span *ngIf="pass?.errors?.['minlength']" class="text text-danger" >
                                        La contraseña debe contener al menos 8 caracteres
                                      </span>
                                    </div>
                              
    

                                    <button type="submit" [disabled]="form.invalid" class="btn btn-lg w-100 btn-registrar btn-block button">
                                        Iniciar sesión
                                    </button>
                                    <p id="sin-cuenta">
                                        ¿No tienes una cuenta?
                                        <a class="link" routerLink="/register" routerLinkActive="active">Registrate </a>
                                    </p>
                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>