<footer class="bg-dark text-center">
  <div class="container p-4 rounded-social-buttons">
    <section class="mb-3">
       <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
       <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
       <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
       <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
       <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
         <div class="row p-4 footer-hover">
             <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                 <ul class="list-unstyled mb-0">
                    <li>
                       <a routerLink="/login" routerLinkActive="active" class="text-decoration-none">Acceso</a>
                    </li>
                 </ul>
             </div>
             <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                 <ul class="list-unstyled mb-0">
                    <li>
                       <a routerLink="/register" routerLinkActive="active" class="text-decoration-none">Registro</a>
                    </li>
                 </ul>
             </div>
             <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                  <ul class="list-unstyled mb-0">
                      <li>
                          <a routerLink="/home" routerLinkActive="active" class="text-decoration-none">Inicio</a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                  <ul class="list-unstyled mb-0">
                      <li>
                          <a routerLink="/contacto" routerLinkActive="active" class="text-decoration-none">Contacto</a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                  <ul class="list-unstyled mb-0">
                      <li>
                          <a routerLink="/sobrenosotros" routerLinkActive="active" class="text-decoration-none"></a>
                      </li>
                  </ul>
              </div>
         </div>
     </section>
 </div>
 <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
     Voto electronico 2021 | Todos los derechos reservados.
 </div>
</footer>


