<footer class="bg-dark text-center">
  <div class="container p-4 rounded-social-buttons">
    <section class="mb-3">
       <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
       <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
       <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
       <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
       <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
         <div class="row p-4 footer-hover">
             <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                 <ul class="list-unstyled mb-0">
                    <li>
                       <a href="loginvista.html" class="text-decoration-none">Acceso</a>
                    </li>
                 </ul>
             </div>
             <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                 <ul class="list-unstyled mb-0">
                    <li>
                       <a href="registrarvista.html" class="text-decoration-none">Registro</a>
                    </li>
                 </ul>
             </div>
             <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                  <ul class="list-unstyled mb-0">
                      <li>
                          <a href="index.html" class="text-decoration-none">Inicio</a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                  <ul class="list-unstyled mb-0">
                      <li>
                          <a href="contacto.html" class="text-decoration-none">Contacto</a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                  <ul class="list-unstyled mb-0">
                      <li>
                          <a href="sobrenosotros.html" class="text-decoration-none">Sobre nosotros</a>
                      </li>
                  </ul>
              </div>
         </div>
     </section>
 </div>
 <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
     Voto electronico 2021 | Todos los derechos reservados.
 </div>
</footer>


<!-- hay que moverlo si tira error -->
<script src="js/funcionesGrupo06.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
