.navbar{
  background-color: #fefefe;
}

.nav-item a{
  color: black !important;
  transition: all 0.4s linear;
  }
  .nav-item a:hover{
    color: orangered !important; 
    }

.head{
  background: white;
}

.letra{
  color: black !important;
}
/*FIN HEADER*/
h1 {
  font-family: 'Roboto Slab', serif;
}

.button{
    background-color: rgb(133, 13, 133) !important;
    color: white !important;
    margin-top: 40px;
}

.button:hover{
    background-color: rgb(27, 7, 99) !important;
    color: white !important;
} 

.marg{
    width: 50% !important;
}
.titulo-final {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: black;
  }

  #sin-cuenta{
      margin-top: 40px;
  }
  .divisor{
    border-top: 8px solid rgb(255, 255, 255);
    width: 100%;
    background-color: darkgray;
    margin: 0;
    top: -10px;
  }
  
  /* FOOTER */
  
  .footer-hover a{
    color: white;
    transition: all 0.4s linear;
}
.footer-hover a:hover{
    color: orangered;
}

  .svg-inline--fa {
    vertical-align: -0.2em;
  }
  
.rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-youtube,
  .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  .rounded-social-buttons .social-button.facebook:hover,
  .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  .rounded-social-buttons .social-button.youtube:hover,
  .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
  }



