<div class="container">
  <div class="timeline">
    <div class="row my-3 timeline-point">
      <div class="col-sm-6">
        <h3>Accurate and fast results.</h3>
        <p>
          We control the votes, allowing only one vote per user. Giving you the results as soon as the voting date ends.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row my-3 flex-sm-row-reverse timeline-point">
      <div class="col-sm-6">
        <h3>We take care of the planet.</h3>
        <p>
          We reduce the environmental impact, since paper is one of the biggest polluting agent.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row my-3 timeline-point">
      <div class="col-sm-6">
        <h3>The importance of the communication.</h3>
        <p>
          Contact us if you need help, we offer a quick response.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row my-3 flex-sm-row-reverse timeline-point">
      <div class="col-sm-6">
        <h3>Your time matter.</h3>
        <p>Make the vote quickly without complications.</p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
  </div>
</div>
