<div class="grid-container">
  <h1 class="mat-h1 title_dash">Dashboard de usuario</h1>
  
  <!-- Panel de datos -->

  <div class="container-lg">
    <div class="row">
      <div class="col-lg-3">
        <div class="card"> 
          <div class= "row">       
           <div class="col">
             <div class="numbers">3</div>
            </div>
             <div class="col">
             <div class="iconTarjeta">
               <span class="material-icons">visibility</span>
             </div>
            </div>
         </div>
         <div class="cardName">Votaciones activas</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card"> 
          <div class= "row">       
           <div class="col">
             <div class="numbers">3</div>
            </div>
             <div class="col">
             <div class="iconTarjeta">
               <span class="material-icons">check_circle</span>
             </div>
            </div>
         </div>
         <div class="cardName">Votaciones finalizadas</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card"> 
          <div class= "row">       
           <div class="col">
             <div class="numbers">3</div>
            </div>
             <div class="col">
             <div class="iconTarjeta">
               <span class="material-icons">visibility_off</span>
             </div>
            </div>
         </div>
         <div class="cardName">Votaciones canceladas</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card"> 
          <div class= "row">       
           <div class="col">
             <div class="numbers">3</div>
            </div>
             <div class="col">
             <div class="iconTarjeta">
               <span class="material-icons">menu_book</span>
             </div>
            </div>
         </div>
         <div class="cardName">Votaciones totales</div>
        </div>
      </div>
    </div>
  </div>   
<br>

  <!-- Tablas de datos -->

  <div class="container-lg text-center">
    <div class="row margenGrafico">
      <div class="col-lg-5">
       <h3 class="mat-h3 tit_tabla">Datos de Votación 1</h3>
          <app-linea></app-linea>
      </div>
      <div class="col-lg-5 offset-lg-2">
        <h3 class="mat-h3 tit_tabla">Datos de Votación 2</h3>
          <app-bar></app-bar>
      </div>
    </div>
  </div>   
</div>
