<footer class="text-center">
    <section class="container-fluid">
        <div class="container-topFooter p-4 rounded-social-buttons">
            <div class="row mb-3">
                <div class="col">
                    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f"></i></a>
                    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank">
                        <i class="fab fa-twitter"></i></a>
                    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank">
                        <i class="fab fa-linkedin"></i></a>
                    <a class="social-button youtube" href="https://www.youtube.com/" target="_blank">
                        <i class="fab fa-youtube"></i></a>
                    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="row p-3 footer-hover">
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/home" routerLinkActive="active" class="text-decoration-none">Inicio</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/login" routerLinkActive="active" class="text-decoration-none">Ingresar</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/contacto" routerLinkActive="active"
                                class="text-decoration-none">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/sobrenosotros" routerLinkActive="active" class="text-decoration-none">Sobre
                                Nosotros</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/section-comercial" routerLinkActive="active"
                                class="text-decoration-none">Empezar Votacion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row text-center p-2 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="col m-1">
                <p class="mb-0">Voto electronico 2022 | Todos los derechos reservados</p>
            </div>
        </div>
    </section>
</footer>