<app-header></app-header>

<div class="container">
  <div class="timeline">
    <div class="row my-3 timeline-point">
      <div class="col-sm-6">
        <h3>Resultados exactos y rápidos.</h3>
        <p>
          Contamos tus votos de la mejor manera, permitiendo solo un voto por
          usuario.Te damos lo resultados apenas finalice la fecha de votación.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row my-3 flex-sm-row-reverse timeline-point">
      <div class="col-sm-6">
        <h3>Cuidamos el planeta.</h3>
        <p>
          Reducimos el impacto ambiental, ya que el papel es uno de los mayores
          contaminantes del agua y del aire.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row my-3 timeline-point">
      <div class="col-sm-6">
        <h3>La importancia de la comunicación.</h3>
        <p>
          Contáctate con nosotros en caso de necesitar ayuda, te ofrecemos
          respuesta de manera rápida.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row my-3 flex-sm-row-reverse timeline-point">
      <div class="col-sm-6">
        <h3>Tu tiempo vale.</h3>
        <p>Realiza la votación de manera rápida sin complicaciones.</p>
      </div>
      <div class="col-sm-6">
        <div class="box"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
