<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
           <a href="index.html" class="navbar-header"><img src="../../../assets/logotipo1_Mesa_de_trabajo1.png" alt="Logo de la Pagina"></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                         <a class="nav-link" routerLink="/login" routerLinkActive="active">Acceso</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" routerLink="/register" routerLinkActive="active">Registro</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" routerLink="/sobrenosotros" routerLinkActive="active">Sobre Nosotros</a>                         
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLink="/section-comercial" routerLinkActive="active">Empezar Votacion</a>
                     </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN NAVBAR-->
</header>
